[Unit]
Description=Setup a secure port forward to %I
After=network.target
AssertPathExists=%h/.ssh/port-fwd.d/%i.conf

[Service]
EnvironmentFile=%h/.ssh/port-fwd.d/%i.conf

ExecStart=/usr/bin/ssh -q \
-nNTC -L localhost:${PORT_LOCAL}:localhost:${PORT_REMOTE} \
-o ServerAliveInterval=3 -o ServerAliveCountMax=5 -o ExitOnForwardFailure=yes -o ControlMaster=no ${OPTS} \
$TARGET

# Restart every >2 seconds to avoid StartLimitInterval failure
RestartSec=0.5
Restart=on-failure

PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target

